<!DOCTYPE HTML>
<html>
  <head>
    {{> head}}
  </head>
  <body>
    {{> debug}}
    <main class="cuerpo">
      {{> navigation}}
      {{> cabecera}}
      <section class="notas">
        {{#data.notas}}
          <form method="POST" action="{{@root.page.host}}/notas/{{id}}/guardar">
            <label for="nota" class="etiqueta">{{labels.note}}</label>
            <textarea class="campo-texto campo-nota" id="mensaje" name="notas.mensaje" placeholder="{{labels.note}}">{{mensaje}}</textarea>
            <input type="submit" value="{{@root.labels.save}}" class="btn-enviar" id="" name="" />
          </form>
        {{/data.notas}}
      </section>
    </main>
    {{> pie}}
  </body>
</html>
