<table class="tabla-notas">
  <tbody>
    {{#data}}
      <tr>
        <td>
          {{#notas_traducciones}}
            {{mensaje}}
          {{/notas_traducciones}}
        </td>
        <td>{{notas.creacion}}</td>
        <td class="acciones">
          <a href="{{@root.page.host}}/notas/{{notas.id}}" class="btn-editar">
            <i class="fa fa-pencil-square-o"></i>
          </a>
        </td>
        <td class="acciones">
          <a href="{{@root.page.host}}/notas/{{notas.id}}/borrar" class="btn-borrar">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    {{/data}}
  </tbody>
</table>
